@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.carousel{
  transform: rotate(-90deg);
}

.emoji{
  
  transform: rotate(90deg);
  scale: 0.8;
  z-index: 1000;
}
